
.search-bar-container{   
    margin-right: 10%;
    margin-left: 10%;
}
body{

    background: #536DFE !important;
}

.serch-bar-height{
   
    height: 10vh;
}




.form span{
    right: 90%;
    top: 13px;
    padding: 2px;
    border-right: 1px solid #d1d5db;
    cursor: pointer;
    

}



.search-bar-left-pan {
    justify-content: end;
   padding-left: 10px;
}

.form-input{

    height: 55px;
    text-indent: 33px;
    border-radius: 10px;
}

.form-input:focus{

    box-shadow: none;
    border:none;
}